@using System.Web.Optimization
@model CategoriesApp.Models.ViewModels.BaseViewModel

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
    @Styles.Render("~/bundles/css/lib")
    <link rel="stylesheet" href="~/Assets/css/apps/shared/compiled/compiled.css" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/js/lib")
    @Scripts.Render("~/bundles/js/shared")
    @RenderSection("scripts", false)
</body>
</html>